footer(class='h-[50px] sm:h-[30px] bg-[#0E0E0E] text-white fixed bottom-0 left-0 text-xs right-0 md:flex justify-between px-5') 
    div(class='flex items-center justify-center sm:hidden')
        p(class='flex items-center text-center justify-center') HaPpY CrYpTiNg!


    div(class='flex items-center justify-center md:justify-start')    
        p(class='flex items-center') © Copyright
        div(class='flex h-[25px]')
            img(src="../img/rtlogo.png", alt="" class='mx-2') 
        p(class='flex items-center') ROUNDTABLE-DTU
    
    div(class='sm:flex sm:items-center sm:justify-center hidden sm:block')
        p(class='flex items-center') HaPpY CrYpTiNg!