footer(class='h-[30px] bg-[#0E0E0E] text-white fixed bottom-0 left-0 right-0 flex justify-between px-5') 
    div(class='flex items-center')    
        p(class='flex items-center') © Copyright
        div(class='flex h-[25px]')
            img(src="../img/rtlogo.png", alt="" class='mx-2') 
        p(class='flex items-center') ROUNDTABLE-DTU
    
    div(class='flex items-center')
        p(class='flex items-center') HaPpY CrYpTiNg!