header
  nav(class="nav__top bg-black flex-col md:flex-row")
    a.nav__top--logo.font-bold(href="/") Aurora 3.0
    ul.nav__top--list
      li: a(href="/leaderboard") Leaderboard
      if user
        li: a(href="/play") Play 
        li: .logout(onclick='checkLogout()')= `@${user.username}`
      else 
        li: a(href="/login") Login

