extends base

block content 
  h3.text-2xl.px-5 
    | Didn't expect you to reach here but you somehow have. Hmm interesting!
    br
    | Okay so this is not at all any kind of related to the level you're currently doing.
    br
    | This is 
    span.text-yellow-500.font-bold Easter Egg 3
    br
    br
    |go to here
    