extends base

mixin tableElement(rank, name, level)
  tr
    td= rank
    td= name
    td= level

block content 
  h1(class='pt-16') leaderboard
  table(class="text-white centered leaderboard mb-[50px] ")
    thead
      tr
        th Rank
        th Name
        th Level
    tbody
      each user, index in users
        +tableElement(`${index + 1}`, user.username, user.level)