extends base

block content 
  if user.username == "loginhere"
    h3 Glad you could reach here child. "aurora_i5_fun" is your answer.
  else
    if question.completed
      h2.text-5xl Congratulations!
    else 
      h3.text-5xl.font-bold Level #{question.level}
      h4(class = "text-lg text-center md:text-3xl mt-10" id="problemStatement")
        | !{question.problem}
      if question.level == 15
        p(class="invisible") Hint here : lnkiy.in
      //- p(class="hint text-md md:text-2xl") Hint:  #{question.hint}

      form.question-form
        input#answer.text-center(type='text' name='answer' placeholder='Your answer here!' required)

        button(class="btn mt-6 mx-auto waves-effect waves-light px-3 text-white grid rounded-md bg-gradient-to-r from-sky-600 to-indigo-500 justify-center item-center py-2 tracking-widest text-xl font-semibold" type="submit" name="action") Submit

block append scripts
  script(src="/js/submitQuestion.js")