extends base

block content 
  div(class="md:max-w-[1000px] h-[400px] bggg mx-auto my-10 flex flex-col justify-center items-center")
    h2.text-5xl.px-5(class="font-bold uppercase") congratulations
    h3(class="mx-24 mt-5 text-2xl leading-relaxed") 
      | Your tireless efforts have been rewarded. After a grueling 24 hours of dedicated research and puzzle-solving, your team has achieved a ranking of 
      b #{userRank.Rank} out of 115+ 
      | competing teams.

    